{% extends "base/all.html" %}

{% block style %}
    {{ super() }}
    <style>
        #intro-1 {
            background-image: url("{{ url_for('static', filename="src/img/Mobile note list-rafiki.svg") }}");
            height: 250px;
        }

        #intro-2 {
            background-image: url("{{ url_for('static', filename="src/img/Analyze-amico.svg") }}");
            height: 250px;
        }
    </style>
{% endblock %}

{% block navbar_item %}
    {{ super() }}
    <ul class="navbar-nav fs-4 fw-bold ds-100">
        <li class="nav-item hv-scale">
            <a href="#" class="nav-link text-white hv-color-text" data-bs-toggle="modal" data-bs-target="#manualModal">
                <span class="iconify-inline" data-icon="clarity:info-standard-solid"></span>
                <span>使用說明</span>
            </a>
        </li>
        <li class="nav-item hv-scale">
            <a href="#" class="nav-link text-white hv-color-text" data-bs-toggle="modal" data-bs-target="#contactModal">
                <span class="iconify-inline" data-icon="ic:baseline-contact-support"></span>
                <span>聯絡資訊</span>
            </a>
        </li>
        {% if session['role'] == 'admin' %}
            <li class="nav-item hv-scale">
                <a href="#" class="nav-link text-white hv-color-text" data-bs-toggle="modal"
                   data-bs-target="#multipleCertModal">
                    <span class="iconify-inline" data-icon="si-glyph:document-copy"></span>
                    <span>批次匯出證書</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#skills" class="nav-link text-white hv-color-text dropdown-toggle" data-bs-toggle="dropdown">
                    <span class="iconify-inline" data-icon="bi:table"></span>
                    <span>抵免彙整表</span>
                </a>
                <ul class="dropdown-menu fade">
                    <li>
                        <a href="#" class="dropdown-item hv-color-bg" data-bs-toggle="modal"
                           data-bs-target="#passedTableModal">
                            <span class="iconify-inline" data-icon="majesticons:cloud-upload"></span>
                            <span>上傳抵免彙整表</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('root.passed') }}" class="dropdown-item hv-color-bg">
                            <span class="iconify-inline"
                                  data-icon="fluent:text-bullet-list-square-edit-20-filled"></span>
                            <span>查看抵免彙整表</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item hv-scale">
                <a href="#" class="nav-link text-white hv-color-text" data-bs-toggle="modal"
                   data-bs-target="#changeInfoModal">
                    <span class="iconify-inline" data-icon="fa-solid:tools"></span>
                    <span>修改密碼</span>
                </a>
            </li>
            <li class="nav-item hv-scale">
                <a href="{{ url_for('root.logout') }}" class="nav-link text-white hv-color-text">
                    <span class="iconify-inline" data-icon="ls:login"></span>
                    <span>登出</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item hv-scale">
                <a href="#" class="nav-link text-white hv-color-text" data-bs-toggle="modal"
                   data-bs-target="#signInModal">
                    <span class="iconify-inline" data-icon="ls:login"></span>
                    <span>管理員登入</span>
                </a>
            </li>
        {% endif %}

        {#        <li class="nav-item hv-scale">#}
        {#            <a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#signUpModal">#}
        {#                <span class="iconify-inline" data-icon="jam:write-f"></span>#}
        {#                <span>管理員註冊</span>#}
        {#            </a>#}
        {#        </li>#}
    </ul>
{% endblock %}

{% block main %}
    <div class="container py-5">
        <div class="banner d-flex justify-content-center">
            <div class="display-4 text-center">
                <p>上傳你的成績單，<br>來看看學習進度吧！</p>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <form action="{{ url_for('root.result') }}" id="singleCert" method="POST" enctype="multipart/form-data">
                <label class="btn btn-primary btn-lg fs-4">
                    <input id="singleCertInput" type="file" accept="application/pdf" name="singleCertInput"
                           class="d-none">
                    <span class="iconify-inline" data-icon="fa-solid:file-upload"></span>
                    <span>上傳歷年成績單 (PDF)</span>
                </label>
            </form>
        </div>

        <p class="alert alert-primary fs-5 text-center mt-4 py-1">
            <span>該分析結果可能尚未包含已抵免課程</span>
        </p>

        <div class="row gy-4">
            <section class="col-12 col-lg-6">
                <div class="card hv-shadow">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-img border" id="intro-1"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">學程分析</h3>
                                <p class="card-text fs-5">標記已通過學分，了解距離自己選擇的方向還缺少哪些課程，查看未來可以選擇哪些課程，來完成自己選擇的學程。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-12 col-lg-6">
                <div class="card hv-shadow">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-img border" id="intro-2"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">綜合趨勢</h3>
                                <p class="card-text fs-5">計算已通過學分數檢查學習進度，進一步了解自己在哪個學程較為突出，提供未來方向選擇的參考。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}

    {% include "includes/modal/manual.html" %}
    {% include "includes/modal/contact.html" %}

    {% if session['role'] == 'admin' %}
        {% include "includes/modal/multiple-cert.html" %}
        {% include "includes/modal/passed-table.html" %}
        {% include "includes/modal/change-info.html" %}

    {% else %}
        {% include "includes/modal/sign-in.html" %}

    {% endif %}

    {#    {% include "includes/modal/sign-up.html" %}#}

    <script>
        const url_multiple_cert = "{{ url_for('root.multiple_cert') }}"
    </script>
    <!--  FileSaver  -->
    <script src="{{ url_for('static', filename="node_modules/file-saver/dist/FileSaver.min.js") }}"></script>
    <!--  Page Customize Javascript  -->
    <script src="{{ url_for('static', filename='src/js/index.js') }}"></script>
{% endblock %}