::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: tint-color($primary, 40%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: tint-color($warning, 40%);
}
