<div class="modal fade" tabindex="-1" id="contactModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-secondary bg-opacity-50">
                <h5 class="modal-title fw-bold fs-4">
                    <span class="iconify-inline" data-icon="ic:baseline-contact-support"></span>
                    <span>聯絡資訊</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled fs-3">
                    <li>
                        <span class="fw-bold">單　位 : </span>
                        <span>建工校區電機工程系 403C 實驗室</span>
                    </li>
                    <li>
                        <span class="fw-bold">負責人 : </span>
                        <span>馮宇丞</span>
                    </li>
                    <li>
                        <span class="fw-bold">信　箱 : </span>
                        <a href="mailto:nkust.ee.hpds@gmail.com">nkust.ee.hpds@gmail.com</a>
                    </li>
                    <li>
                        <span class="fw-bold">電　話 : </span>
                        <span>07-3814526</span>
                    </li>
                    <li>
                        <span class="fw-bold">分　機 : </span>
                        <span>15570</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>