<div class="modal fade" tabindex="-1" id="multipleCertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary bg-opacity-50">
                <h5 class="modal-title fw-bold fs-4">
                    <span class="iconify-inline" data-icon="si-glyph:document-copy"></span>
                    <span>批次匯出證書</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-2">
                    <div class="col-12">
                        <form action="{{ url_for('root.multiple_cert') }}" id="multipleCertForm" method="POST"
                              enctype="multipart/form-data">
                            <input type="file" name="multipleCertInput" accept="application/pdf"
                                   class="form-control form-control-lg mb-3 multipleCertInput" multiple>
                            <!-- 起始證號 ( 已棄用 ) -->
                            <div class="input-group mb-3 d-none">
                                <label for="serialNumber" class="input-group-text fs-5">起始證號</label>
                                <input name="serialNumber" type="text" placeholder="輸入要起始的證號" id="serialNumber"
                                       class="form-control form-control-lg serialNumber">
                            </div>
                        </form>
                        <p class="alert alert-primary text-center">
                            <span>批次處理一個檔案大約 3 秒，<br>可根據上傳檔案數量預估執行時間。</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="multipleCertSend">確認提交</button>
            </div>
        </div>
    </div>
</div>