#intro-1, #intro-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba($primary, 0.2);
  background-blend-mode: normal;
  background-attachment: scroll;
  background-position: center;
}